<div class="container">
    <div class="col-sm-6">
        <img src="css/images/people.jpg">

    </div>
    <div>
        
    <div class="col-sm-6">
        <h1>Welcome to Confetti Cuisine</h1>
        <p>Please check out our courses by our crazy chefs.</p>
        <p>if you want to see a new course click <a href="/courses"> the course page</a></p>
        <p>when you see a course you like, you can <a href="/contact">contact us</a></p>
    </div>

</div>