<div class="form-data">
    <form action="<%=`/users/${user._id}/update?_method=PUT` %>" method="POST">
        <label for="txtFirstName">first Name</label>
        <input type="text" name="first" id="txtFirstName" autofocus required value="<% user.name.first %>">

        <label for="txtLastName">last name</label>
        <input type="text" name="last" id="txtLastName" autofocus required value="<% user.name.last %>">

        <label for="txtEmail">Email</label>
        <input type="email" name="email" id="txtEmail" required value="<% user.email %>">
    
        <label for="txtZipCode">zipCode</label>
        <input type="text" name="zipCode" id="txtZipCode" required value="<% user.zipCode %>">
    
        <button type="submit">Save</button>
    </form>
</div>

